.Table {
  width: 100%;
  margin-top: 15px;
}
.headerRow,
.evenRow,
.oddRow {
  border-bottom: 1px solid #e0e0e0;
}
.oddRow {
  background-color: #fafafa;
}
.headerColumn {
  text-transform: none;
}
.exampleColumn {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.checkboxLabel {
  margin-left: .5rem;
}
.checkboxLabel:first-of-type {
  margin-left: 0;
}

.noRows {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1em;
  color: #bdbdbd;
}


.potential_voter_media_box {
  border-bottom: 1px solid #e0e0e0;
  padding: .5rem
}

.potential_voter_media_box:hover {
  background-color: #fafafa;
}

.potential_voter_name {
  font-weight: bold;
  padding-right: 1rem
}



.block {
  display: flex;
  align-items: flex-start;
  /* background: #333; */
  padding: 1rem;
  /* max-width: 20rem; */
  margin: 0 0 1rem 0;
  color: #333;
  font-weight: 300;
  font-family: 'Roboto', sans-serif;
  font-size: 85%;
  line-height: 1.4;
  margin: 0;
  padding: 1rem;
  border-radius: 30px;
  border-style: solid;
  border-width: 1px;
  margin-bottom: 1rem;
  height: 120px;
}
.block > img {
  width: 75px;
  margin: 0 1rem 0 0;
  
}
.block > div {
  flex: 1;
}
.block h2 {
  font-weight: 500;
  margin: 0 0 0.5rem 0;
}

.block .Icon {
  display: flex;
  width: 75px;
  margin: 0 1rem 0 0;
  align-items: center;
  justify-content: center;
}

.block .media {

}

.block:hover {
  background-color: #444;
  color: white;
}


.PvBox {
  padding: 1rem;
  border-radius: 30px;
  border-style: solid;
  border-width: 1px;
  margin-bottom: 1rem;
  height: 120px;
}
.PvBox:hover {
  background-color: #444;
  color: white;
}

.VoterSearchResultContainer {
  border-bottom-style: solid;
  margin-bottom: 1rem;
  border-bottom-width: 1px;
}
.VoterSearchResultContainer:hover {
  background-color: #dfe6e9;
}
